/* -------------------------------------------------- 
                      NORMALIZE
----------------------------------------------------- */
/*
    Combination of http://meyerweb.com/eric/tools/css/reset/, http://github.com/necolas/normalize.css, http://ru.html5boilerplate.com and personal experience
    by Robert Haritonov http://rhr.me/rreset
*/
html, body, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q,
samp, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, canvas, embed,
figcaption, hgroup, output, ruby, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/*
 * Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover, a:active {
  outline: none;
}

blockquote, q {
  quotes: none;
  margin: 1em 40px;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/*
 * Addresses styling not present in 8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3/4, S4/5, Chrome
*/
b, strong {
  font-weight: 700;
}

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

/*
 * Corrects font family set oddly in S5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * Corrects inline-block display not defined in 8/9 & FF3
 */
audio[controls], canvas, video {
  display: inline-block;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}

/*
 * Addresses margin not present in 8/9, S5, O11
 */
figure {
  margin: 0;
}

/*
 * Define consistent margin and padding
 */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE8/9
 */
legend {
  border: 0;
  /* 1 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in F3/4, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
}

/*
 * 1. Addresses FF3/4 setting line-height using !important in the UA stylesheet
 */
button, input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/*
 * Corrects inner padding displayed oddly in S5, Chrome on OSX
 */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Corrects inner padding and border displayed oddly in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in 8/9
 * 2. Improves readability and aligment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* -------------------------------------------------- 
                     /NORMALIZE
----------------------------------------------------- */
.container, .main-nav__list {
  position: relative;
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 56px;
  background-color: #fff;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

.col {
  float: left;
}

.col1 {
  width: 33.33333333%;
}

.col2 {
  width: 66.66666667%;
}

body {
  min-width: 768px;
  font: 400 14px/1.5 "PT Sans", Verdana, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}

.disabled {
  opacity: .3;
  pointer-events: none;
}

.container:after, .main-nav__list:after, .row:after, .form__row:after, .filters:after, .range-filter__input-wrap:after, .find-item__inner:after, .sorting:after {
  content: "";
  display: table;
  clear: both;
}

.main-nav__logo, .promo__welcome, .promo__title, .promo__quote, .find-item__star, .sorting__control, .social__btn {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.content-intro__title, .panel__title, .form__header, .find-item__title, .sorting__title, .footer__title {
  font-size: 21px;
  line-height: 1.238095238095238;
  font-weight: 700;
}

.form__btn, .find-item__btn--primary, .social__btn, .find-item__btn--secondary {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
.form__btn, .find-item__btn--primary, .social__btn {
  background-color: #81b3d2;
  -webkit-transition: background-color .3s, color .3s;
          transition: background-color .3s, color .3s;
}
.form__btn:hover, .find-item__btn--primary:hover, .social__btn:hover {
  background-color: #669ec0;
}
.form__btn:active, .find-item__btn--primary:active, .social__btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.find-item__btn--secondary {
  background-color: #766357;
  -webkit-transition: background-color .3s, color .3s;
          transition: background-color .3s, color .3s;
}
.find-item__btn--secondary:hover {
  background-color: #604e43;
}
.find-item__btn--secondary:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.main-nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  -webkit-transition: top .5s;
          transition: top .5s;
}
.main-nav--fix {
  position: fixed;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.main-nav__list {
  padding-top: 0;
  line-height: 1.857142857142857;
  font-weight: 700;
  box-shadow: none;
}
.main-nav__item {
  float: left;
  width: 20%;
  min-height: 1px;
}
.main-nav__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  color: #000;
  -webkit-transition: color .3s, opacity .3s;
          transition: color .3s, opacity .3s;
}
.main-nav__link:hover {
  color: #81b3d2;
}
.main-nav__link:active {
  color: #000;
  opacity: .3;
}
.main-nav__link--active {
  color: #766357;
  -webkit-transition: color .3s, opacity .3s;
          transition: color .3s, opacity .3s;
}
.main-nav__link--active:hover {
  color: #604e43;
}
.main-nav__link--active:active {
  opacity: .3;
}
.main-nav__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 100;
  margin-left: -69px;
  width: 138px;
  height: 70px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
}

.promo {
  position: relative;
  height: 432px;
  padding-top: 76px;
  background: url(../img/promo-bg.jpg) no-repeat center top;
  background-attachment: fixed;
  overflow: hidden;
}
.promo__welcome {
  width: 100%;
  height: 86px;
  margin-bottom: 60px;
  background: url(../img/promo-weclome.png) no-repeat top center;
}
.promo__title {
  width: 100%;
  height: 78px;
  margin-bottom: 55px;
  background: url(../img/promo-title.png) no-repeat top center;
}
.promo__quote {
  width: 100%;
  height: 80px;
  background: url(../img/promo-quote.png) no-repeat top center;
}

.svg-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 57px;
}
.svg-container .polygon-white {
  fill: #fff;
}
.svg-container .svg {
  height: 57px;
}
.svg-container .svg--outer {
  position: absolute;
  left: 50%;
  margin-left: -600px;
}

.content-intro {
  padding-top: 55px;
  width: 500px;
  margin: 0 auto;
}
.content-intro__text {
  margin-top: 30px;
  margin-bottom: 50px;
}

.panel {
  height: 146px;
  padding: 55px 17.5%;
  background-color: #eee;
  overflow: hidden;
}
.panel__label {
  display: inline-block;
  margin-top: 15px;
}
.panel__text {
  margin-top: 25px;
}
.panel__img {
  height: 77px;
  margin-bottom: 30px;
  text-align: center;
  overflow: hidden;
}
.panel__img img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}
.panel--primary {
  color: #fff;
  background-color: #81b3d2;
}
.panel--recommends {
  min-height: 225px;
  background-color: #fff;
}

.feature-img {
  height: 256px;
  overflow: hidden;
}
.feature-img img {
  display: block;
  width: 100%;
}

.search {
  position: relative;
  padding-top: 55px;
}
.search__title {
  font-size: 30px;
  margin-bottom: 35px;
}
.search__map {
  width: 100%;
  height: 593px;
  margin-top: 104px;
  background: #fff url(../img/map.jpg) no-repeat bottom center;
  overflow: hidden;
}

.form {
  position: absolute;
  left: 50%;
  width: 566px;
  margin-left: -283px;
  margin-top: 28px;
  font-weight: 700;
  line-height: 1.857142857142857;
}
.form__header {
  padding: 25px 55px;
  color: #fff;
  background-color: #766357;
}
.form__body {
  position: relative;
  z-index: 10;
  padding: 55px;
}
.form__body:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-filter: blur(2px);
}
.form__label {
  float: left;
  margin-top: 7px;
}
.form__label--right {
  float: right;
  margin-right: 25px;
}
.form__input {
  position: relative;
  float: right;
  width: 342px;
  margin-bottom: 25px;
}
.form__input-text, .form__input--num-text {
  width: 100%;
  padding: 7px 40px 7px 15px;
  border: none;
  color: #000;
  font: 700 14px/1.85714 "PT Sans", Verdana, sans-serif;
  text-transform: uppercase;
  background-color: #f2f2f2;
  outline: none;
  box-sizing: border-box;
}
.form__input--num {
  width: 114px;
}
.form__input--num-text {
  padding-left: 39px;
  padding-right: 39px;
  text-align: center;
}
.form__input--down, .form__input--up {
  position: absolute;
  top: 0;
  width: 39px;
  height: 39px;
  opacity: .3;
}
.form__input--down:hover, .form__input--up:hover {
  opacity: 1;
}
.form__input--down {
  left: 0;
  background: url(../img/minus.png) no-repeat center center;
}
.form__input--up {
  right: 0;
  background: url(../img/plus.png) no-repeat center center;
}
.form__calendar {
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  height: 38px;
  background: url(../img/calendar.png) no-repeat center center;
  opacity: .2;
}
.form__calendar:hover {
  opacity: 1;
}
.form__leftcol {
  float: left;
  width: 50%;
}
.form__rightcol {
  float: right;
  width: 50%;
}
.form__btn {
  border: none;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 30px;
  font: 700 21px/1.2381 "PT Sans", Verdana, sans-serif;
  outline: none;
}

.hotels-main {
  text-align: left;
}

.filters {
  padding: 28px calc((20% - 93px) / 2) 32px calc((20% - 93px) / 2);
  color: #fff;
  background: #5783a8 url(../img/filter-bg.jpg) no-repeat center top;
}
.filters__col-left {
  float: left;
  width: 225px;
  margin-left: 30px;
}
.filters__col-left:first-child {
  margin-left: 0;
}
.filters__col-right {
  float: right;
}
.filters__title {
  font-size: 16px;
  line-height: 1.3125;
}
.filters__item {
  position: relative;
  margin-top: 25px;
}
.filters__checkbox {
  position: absolute;
  left: 3px;
  top: 5px;
  opacity: 0;
  width: 18px;
}
.filters__checkbox + .filters__label {
  display: inline-block;
  margin: 0;
  clear: none;
  padding: 1px 0 5px 33px;
  cursor: pointer;
  line-height: 1.285714285714286;
}
.filters__item:not(#foo) .filters__checkbox + .filters__label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: url(../img/icon-check-off.png) left top no-repeat;
  opacity: .3;
  -webkit-transition: opacity .3s;
          transition: opacity .3s;
}
.filters__item:not(#foo) .filters__checkbox:checked + .filters__label:before {
  background-image: url(../img/icon-check-on.png);
  opacity: 1;
}
.filters__item:not(#foo) .filters__checkbox + .filters__label:hover:before, .filters__item:not(#foo) .filters__checkbox:checked + .filters__label:hover:before {
  opacity: .6;
}
.filters__item:not(#foo) .filters__checkbox + .filters__label:active:before {
  opacity: 1;
}
.filters__item:not(#foo) .filters__checkbox:checked + .filters__label:active:before {
  opacity: .3;
}

.range-filter {
  width: 225px;
  white-space: nowrap;
}
@media screen and (min-width: 960px) {
  .range-filter {
    width: 330px;
  }
}
.range-filter__input-wrap {
  position: relative;
  margin-top: 20px;
  border: 2px solid #fff;
  border-radius: 2px;
}
.range-filter__input-wrap:before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 50%;
  width: 2px;
  background-color: #fff;
}
.range-filter__input {
  float: left;
  width: 50%;
  padding: 14px 10px;
  border: none;
  font-family: "PT Sans", Verdana, sans-serif;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
}
.range-filter .ui-slider {
  position: relative;
}
.range-filter .ui-slider .ui-slider-handle {
  position: absolute;
  top: -9px;
  z-index: 10;
  width: 4px;
  height: 5px;
  margin-left: -16px;
  border: 8px solid #fff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  -webkit-transition: background-color .3s;
          transition: background-color .3s;
}
.range-filter .ui-slider .ui-slider-handle:active {
  background-color: #1c4f80;
}
.range-filter .ui-slider .ui-slider-handle:first-of-type {
  margin-left: 0;
}
.range-filter .ui-slider .ui-slider-range {
  position: absolute;
  top: 0;
  display: block;
  border: 0;
  height: 100%;
}
.range-filter .ui-slider-horizontal {
  height: 2px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.range-filter .ui-widget-content {
  background-color: rgba(255, 255, 255, 0.3);
}
.range-filter .ui-widget-header {
  background-color: #fff;
}

.find-item {
  padding: 30px calc((20%  - 93px) / 2);
  border-bottom: 1px solid #e5e5e5;
}
.find-item__inner {
  position: relative;
  padding-right: 166px;
  padding-left: 166px;
  min-height: 90px;
}
.find-item__img {
  position: absolute;
  left: 0;
  top: 3px;
  width: 135px;
  height: 90px;
  overflow: hidden;
}
.find-item__img img {
  vertical-align: top;
}
.find-item__title {
  display: inline-block;
  margin-bottom: 14px;
  line-height: 1;
  text-decoration: none;
  color: #000;
  -webkit-transition: color .3s, opacity .3s;
          transition: color .3s, opacity .3s;
}
.find-item__title:hover {
  color: #81b3d2;
}
.find-item__title:active {
  color: #000;
  opacity: .3;
}
.find-item__text {
  display: inline-block;
  min-width: 115px;
  margin-right: 1px;
  margin-bottom: 8px;
}
.find-item__btn--primary {
  padding: 4px 17px 4px;
}
.find-item__btn--secondary {
  padding: 4px 17px 4px;
}
.find-item__stars {
  position: absolute;
  top: 0;
  right: 0;
  width: 130px;
  font-size: 0;
  text-align: right;
}
.find-item__star {
  display: inline-block;
  margin-left: 8px;
  width: 18px;
  height: 17px;
  background: url(../img/star.png) no-repeat left top;
}
.find-item__score {
  position: absolute;
  top: 62px;
  right: 0;
  padding: 5px 15px;
  color: #666666;
  background-color: #f2f2f2;
}

.sorting {
  position: relative;
  padding: 35px calc((20%  - 93px) / 2);
  border-bottom: 1px solid #e5e5e5;
}
.sorting__title {
  float: left;
  margin-right: 50px;
}
.sorting__item {
  float: left;
  margin-right: 25px;
  padding-top: 4px;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
  color: #000;
}
.sorting__item:first-child {
  margin-right: 40px;
}
.sorting__link:not(.sorting__link--active) {
  border-bottom: 1px dotted #81b3d2;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  -webkit-transition: color .3s, border-color .3s;
          transition: color .3s, border-color .3s;
}
.sorting__link:not(.sorting__link--active):hover {
  color: #81b3d2;
}
.sorting__link:not(.sorting__link--active):active {
  border-bottom: 1px dotted rgba(129, 179, 210, 0);
  color: black;
}
.sorting__link--active {
  border-bottom: none;
  text-decoration: none;
  color: #81b3d2;
}
.sorting__controls {
  position: absolute;
  top: 50%;
  right: calc((20% - 93px) / 2);
  margin-top: -9px;
}
.sorting__control {
  display: inline-block;
  width: 18px;
  height: 18px;
  opacity: .3;
}
.sorting__control:hover {
  opacity: 1;
}
.sorting__control--up {
  background: url(../img/icon-up.png) no-repeat center center;
}
.sorting__control--up:active {
  background: url(../img/icon-up-active.png) no-repeat center center;
}
.sorting__control--down {
  background: url(../img/icon-down.png) no-repeat center center;
}
.sorting__control--down:active {
  background: url(../img/icon-down-active.png) no-repeat center center;
}

.footer {
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #fff;
}
.footer__title {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #000;
}
.footer__text {
  margin-top: 10px;
}
.footer__copyright-link {
  display: inline-block;
  width: 27px;
  height: 33px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.footer__copyright-link--author {
  background: url(../img/author.png) no-repeat left top;
}
.footer__copyright-link--client {
  background: url(../img/academy.png) no-repeat left top;
}
.footer--secondary {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.social__item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}
.social__btn {
  width: 46px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center center;
}
.social__btn--tw {
  background-image: url(../img/social-tw.png);
}
.social__btn--fb {
  background-image: url(../img/social-fb.png);
}
.social__btn--yt {
  background-image: url(../img/social-yt.png);
}
