.container {
  @extend %cf;
  position: relative;
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 56px;
  background-color: #fff;
  box-shadow: 0 0 15px 5px rgba(0,0,0,.2);
}

.row {
  @extend %cf;
}

.col {
  float: left;
}

.col1 {
  width: 33.33333333%;
}

.col2 {
  width: 66.66666667%;
}