.paginator {

  &__btn {
    min-width: 38px;
    padding-left: 7px;
    padding-right: 7px;
    margin-right: 6px; 

    &--current {
      padding: 8px 13px;;
      border: 2px solid #f1f1f1;
      background-color: #fff;

      &:hover,
      &:active {
        background-color: #fff;
        @include box-shadow(none);
      }
    }
  }
}